
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    font-size: 14px;
    color: #151515;
    font-family: "Open Sans", 'Work Sans', sans-serif;
}

@font-face {
    font-family: "Open Sans";
    font-weight: 500 600;
	src: url(/assets/font/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "Open Sans Light";
    font-weight: 100 400;
	src: url(/assets/font/OpenSans-Light.ttf);
}
@font-face {
    font-family: "Open Sans Italic";
	src: url(/assets/font/OpenSans-Italic.ttf);
}
@font-face {
    font-family: "Open Sans Bold";
    font-weight: 700 900;
	src: url(/assets/font/OpenSans-SemiBold.ttf);
}

a {
    text-decoration: none;
    color: #fff;
}

/*HEADER */

header {
    background: url(./images/mastehead.jpg) no-repeat center/ cover;
    color: #fff;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_container-agency {
    display: flex;
    align-items: center;
    padding-left: 3%;
    padding-top: 2%;
}

.header_container-agency img {
    height: 25px;
}

.header_container-agency h1 {
    font-family: "Open Sans Italic", 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-left: 2%;
}

.header_container-title {
    height: 40vh;
    margin: 0 auto;
    width: 80vw;
}

.header_container-title_test {
    width: 50vw;
}

.header_container-title .header_container-title_test h2{
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    padding-bottom: 10%;
}
.header_container-title .header_container-title_test p{
    font-size: 12px;
}

.header_image {
    display: none;
}

/*INTRO */

#introduction {
    width: 80vw;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 20%;
}

#introduction h3{
    font-size: 20px;
    font-weight: 600;
}

#introduction p{
    font-size: 12px;
    font-weight: 300;
    padding-top: 5%;
    color: #292929;
}

/*SERVICE */


#service {
    width: 80vw;
    margin: 0 auto;
    color: #fff;
}

#service a {
    font-size: 10px;
    font-weight: 600;
}

#service p {
    font-size: 10px;
    padding-bottom: 3%;
}
#service h3 {
    font-weight: 500;
    padding-bottom: 2%;
}

#service .service_container-design {
    background-color: #F4979F;
}

#service .service_container-build {
    background-color: #605F7F;
}

#service .service_container-clients {
    background: url(./images/box-bg.jpg) no-repeat center/ cover;
}

#service .service_container-signup {
    background: url(./images/box-bg-lg.jpg) no-repeat center/ cover;
}

#service .service_container-pictures {
    background-color: #80BF96;
}

#service .service_container-design,
#service .service_container-build,
#service .service_container-clients,
#service .service_container-signup,
#service .service_container-pictures {
    padding: 5% 10%;
}

#service .service_container_link{
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#service .service_container_link .fas{
    font-size: 10px;
}

/* SECTION DETAILS*/

#detail {
    width: 80vw;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 20%;
}

#detail h3 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 2%;
}

#detail h4, 
#detail p {
    font-size: 12px;
    font-weight: 500;
    color: #292929;
}
 
#detail p {
    padding-top: 5%;
    width: 75vw;
}

.detail_container-web,
.detail_container-performance,
.detail_container-cultural,
.detail_container-sub {
 padding: 5% 0;
}

/* SECTION OPTIONS*/

#option {
    background: url(./images/full-image.jpg) no-repeat left/ cover;
}

#option .option_container {
    width: 80vw;
    margin: 0 auto;
    color: #fff;
    padding-top: 20%;
    padding-bottom: 40%;
}

#option .option_container h2{
    width: 85vw;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    padding-bottom: 3%;
}
#option .option_container p{
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 3%;
}

#option .option_container a{
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 3%;
}

#option .option_container_link{
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#option .option_container_link .fas{
    font-size: 10px;
}

/* SECTION REASONS ONBOARD*/

#reason {
    padding-top: 20%;
    padding-bottom: 20%;
    background-color: #80BF96;
    color: #fff;
}

#reason .reason_container {
    width: 80vw;
    margin: 0 auto;
}

#reason h3 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 2%;
}

#reason h4, 
#reason p {
    font-size: 12px;
    font-weight: 500;
}
 
#reason p {
    padding-top: 5%;
    width: 75vw;
}

.reason_container-web,
.reason_container-team,
.reason_container-support {
 padding: 5% 0;
}

/* SECTION BUSINESS*/

#business {
    padding-top: 20%;
    padding-bottom: 20%;
    background-color: #F4F8FB;
}
#business .business_container {
    width: 80vw;
    margin: 0 auto;
}

#business .business_container h3 {
    font-size: 16px;
    font-weight: 500;
    padding-top: 5%;
}

#business .business_container p {
    font-size: 10px;
    font-weight: 500;
    color: #292929;
    padding: 5% 0;
}

#business .business_container .business_container_2 {
    padding-top: 15%;
}

#business .business_container  .business_container_proposal-legacy,
#business .business_container  .business_container_proposal-popular,
#business .business_container  .business_container_proposal-buy
 {

    border: #E6E6E9 solid 1px;
    border-radius: 10%;
    display: inline;
    padding: 2% 3%;
    background-color: #E6E6E9;
    color: #fff;
    font-size: 8px;
    font-weight: 800;
}

#business .business_container .business_container_proposal-popular {
    background-color: #BB8FB8;
    border: #BB8FB8 solid 1px;
}

#business .business_container .business_container_proposal-buy {
    background-color: #9BCDAC;
    border: #9BCDAC solid 1px;
}

#business .business_container .business_container_icon {
 padding-top: 5%;
 display: flex;
 justify-content: space-around;
 width: 15vw;
}

#business .business_container .fab {
    color: #CCCCCF;
    font-size: 22px;
}

/* SECTION FOOTER*/

footer {
    padding-top: 20%;
    padding-bottom: 20%;
    background-color: #182432;
    color: #fff;
    font-size: 12px;
}

footer .footer_container {
    width: 80vw;
    margin: 0 auto;
}

footer .footer_container h4 {
    padding-bottom: 2%;
    font-weight: 600;
}

footer .footer_container_stay{
    padding-top: 10%;
}

footer .footer_container_formulaire{
    width: 90vw;
}

footer .footer_container_formulaire form input{
    width: 70vw;
    border: none;
    padding: 2% 0;
}

footer .footer_container_formulaire form button{
    background-color: #80BF96;
    border: none;
    padding: 2% 2%;
}

footer .footer_container_formulaire form .fas {
    color: #fff;
}

footer .footer_container_stay p{
    color: grey;
}

footer .footer_container .footer_container_links {
    display: flex;
    align-items: space-around;
    padding-top: 10%;
}

footer .footer_container .footer_container_links ul {
   list-style: none;
}

footer .footer_container .footer_container_links li {
    padding-bottom: 2%;
}

footer .footer_container .footer_container_links div {
    width: 25vw;
}








/* MEDIA QUERIES */

/* TABLETS */

@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

/* SECTION HEADER */


.header_container-agency {
    padding-top: 1%;
}

.header_container-title_test {
    width: 40vw;
}

.header_container-title .header_container-title_test h2{
    font-size: 50px;
}
.header_container-title .header_container-title_test p{
   font-size: 12px;
}

.header_image {
    display: none;
}












}