
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    color: #151515;
    font-family: "Open Sans", 'Work Sans', sans-serif;
}

@font-face {
    font-family: "Open Sans";
    font-weight: 500 600;
	src: url(/assets/font/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "Open Sans Light";
    font-weight: 100 400;
	src: url(/assets/font/OpenSans-Light.ttf);
}
@font-face {
    font-family: "Open Sans Italic";
	src: url(/assets/font/OpenSans-Italic.ttf);
}
@font-face {
    font-family: "Open Sans Bold";
    font-weight: 700 900;
	src: url(/assets/font/OpenSans-SemiBold.ttf);
}

a {
    text-decoration: none;
    color: #fff;
}

/*HEADER */

header {
    background: url(./images/mastehead.jpg) no-repeat center/ cover;
    color: #fff;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_container-agency {
    display: flex;
    align-items: center;
    padding-left: 3%;
    padding-top: 2%;
}

.header_container-agency img {
    height: 25px;
}

.header_container-agency h1 {
    font-family: "Open Sans Italic", 'Work Sans', sans-serif;
    font-size: 20px;
    padding-left: 2%;
}

.header_container-title {
    height: 40vh;
    margin: 0 auto;
    width: 80vw;
}

.header_container-title_test {
    width: 50vw;
}

.header_container-title .header_container-title_test h2{
    font-size: 40px;
    line-height: 1.2;
    padding-bottom: 10%;
}
.header_container-title .header_container-title_test p{
    font-size: 12px;
}

.introduction_image {
    display: none;
}

/*INTRO */

#introduction {
    width: 80vw;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 20%;
}

#introduction h3{
    font-size: 20px;
}

#introduction p{
    font-size: 12px;
    padding-top: 5%;
    color: #3f3f3f;
}

/*SERVICE */


#service {
    width: 80vw;
    margin: 0 auto;
    color: #fff;
}

#service a {
    font-size: 10px;
    padding-right: 5%;
}

#service p {
    font-size: 10px;
    padding-bottom: 3%;
    line-height: 1.2;
}
#service h3 {
    padding-bottom: 2%;
}

#service .service_container-design {
    background-color: #F4979F;
}

#service .service_container-build {
    background-color: #605F7F;
}

#service .service_container-clients {
    background: url(./images/box-bg.jpg) no-repeat center/ cover;
}

#service .service_container-signup {
    background: url(./images/box-bg-lg.jpg) no-repeat center/ cover;
}

#service .service_container-pictures {
    background-color: #80BF96;
}

#service .service_container-design,
#service .service_container-build,
#service .service_container-clients,
#service .service_container-signup,
#service .service_container-pictures {
    padding: 5% 10%;
}

#service .service_container_link{
    display: flex;
    align-items: center;
}

#service .service_container_link .service_link_icon{
    width: 10px;
    fill: #fff;
}

/* SECTION DETAILS*/

#detail {
    width: 80vw;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 20%;
}

#detail h3 {
    font-size: 20px;
    padding-bottom: 2%;
}

#detail h4, 
#detail p {
    font-size: 12px;
    color: #292929;
}
 
#detail p {
    padding-top: 5%;
    width: 75vw;
}

.detail_container-web,
.detail_container-performance,
.detail_container-cultural,
.detail_container-sub {
 padding: 5% 0;
}

/* SECTION OPTIONS*/

#option {
    background: url(./images/full-image.jpg) no-repeat left/ cover;
}

#option .option_container {
    width: 80vw;
    margin: 0 auto;
    color: #fff;
    padding-top: 20%;
    padding-bottom: 40%;
}

#option .option_container h2{
    width: 85vw;
    font-size: 40px;
    line-height: 1.2;
    padding-bottom: 3%;
}
#option .option_container p{
    font-size: 12px;
    padding-bottom: 3%;
}

#option .option_container a{
    font-size: 12px;
    padding-right: 3%;
}
#option .option_container_link{
    display: flex;
    align-items: center;
}
#option .option_container_link .option_link_icon{
    width: 12px;
    fill: #fff;
}

/* SECTION REASONS ONBOARD*/

#reason {
    padding-top: 20%;
    padding-bottom: 20%;
    background-color: #80BF96;
    color: #fff;
}

#reason .reason_container {
    width: 80vw;
    margin: 0 auto;
}

#reason h3 {
    font-size: 20px;
    padding-bottom: 2%;
}

#reason h4, 
#reason p {
    font-size: 12px;
}
 
#reason p {
    padding-top: 5%;
    width: 75vw;
}

.reason_container-web,
.reason_container-team,
.reason_container-support {
 padding: 5% 0;
}

/* SECTION BUSINESS*/

#business {
    padding-top: 20%;
    padding-bottom: 20%;
    background-color: #F4F8FB;
}
#business .business_container {
    width: 80vw;
    margin: 0 auto;
}

#business .business_container h3 {
    font-size: 16px;
    padding-top: 5%;
}

#business .business_container p {
    font-size: 10px;
    color: #292929;
    padding: 5% 0;
}

#business .business_container .business_container_post2 {
    padding-top: 15%;
}

#business .business_container  .business_container_proposal-legacy,
#business .business_container  .business_container_proposal-popular,
#business .business_container  .business_container_proposal-buy
 {

    border: #E6E6E9 solid 1px;
    border-radius: 10%;
    display: inline;
    padding: 2% 3%;
    background-color: #E6E6E9;
    color: #fff;
    font-size: 8px;
}

#business .business_container .business_container_proposal-popular {
    background-color: #BB8FB8;
    border: #BB8FB8 solid 1px;
}

#business .business_container .business_container_proposal-buy {
    background-color: #9BCDAC;
    border: #9BCDAC solid 1px;
}

#business .business_container .business_container_list {
 padding-top: 5%;
 display: flex;
 width: 15vw;
}

#business .business_container_list .business_list_apple,
#business .business_container_list .business_list_microsoft {
    fill: #b9b9b9;
    width: 22px;
    height: auto;
}
#business .business_container_list .business_list_microsoft{
    margin-left: 18%;
}

/* SECTION FOOTER*/

footer {
    padding-top: 20%;
    padding-bottom: 20%;
    background-color: #182432;
    color: #fff;
    font-size: 12px;
}

footer .footer_container {
    width: 80vw;
    margin: 0 auto;
}

footer .footer_container h4 {
    padding-bottom: 2%;
}

footer .footer_container_stay{
    padding-top: 10%;
}

footer .footer_container_formulaire{
    width: 90vw;
}

footer .footer_container_formulaire form input{
    width: 70vw;
    border: none;
    padding: 2% 0;
}

footer .footer_container_formulaire form button{
    background-color: #80BF96;
    border: none;
    padding: 2% 2%;
}

footer .footer_container_formulaire .footer_formulaire_icon {
    fill: #fff;
    width: 12px;
}

footer .footer_container_stay p{
    color: grey;
    padding-top: 2%;
    font-size: 10px;
}

footer .footer_container .footer_container_links {
    display: flex;
    padding-top: 10%;
}

footer .footer_container .footer_container_links ul {
   list-style: none;
}

footer .footer_container .footer_container_links li {
    padding-bottom: 2%;
}

footer .footer_container .footer_container_links div {
    width: 25vw;
}








/* MEDIA QUERIES */

/* TABLETS */

@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

/* SECTION HEADER */


.header_container-agency {
    padding-top: 1%;
}

.header_container-title_test {
    width: 40vw;
}

.header_container-title .header_container-title_test h2{
    font-size: 50px;
}
.header_container-title .header_container-title_test p{
   font-size: 14px;
}

/*INTRO */

#introduction .introduction_container_paragraph {

display: flex;
justify-content: space-between;
}

#introduction h3{
    font-size: 25px;
    width: 80%;
}

#introduction p{
    font-size: 14px;
    width: 48%;
}

/*SERVICE */


#service {
    display: flex;
    flex-wrap: wrap;
    height: 60vh;
}

#service a {
    font-size: 14px;
}

#service p {
    font-size: 13px;
    line-height: 1.5;
    padding-bottom: 12%;
}
#service h3 {
    padding-bottom: 2%;
    font-size: 22px;
}

#service .service_container-design {
    width: 50%;
}

#service .service_container-build {
    width: 50%;
}

#service .service_container-clients {
    width: 50%;
}

#service .service_container-signup {
    width: 50%;
}

#service .service_container-pictures {
    width: 100%;
}
#service .service_container-pictures p {
    width: 90%;
}

#service .service_container-design,
#service .service_container-build,
#service .service_container-clients,
#service .service_container-signup,
#service .service_container-pictures {
    padding: 5% 5%;
}

/* SECTION DETAILS*/

#detail h3 {
    font-size: 25px;
}

#detail .detail_container {
 display: flex;
 flex-wrap: wrap;
}
#detail h4, 
#detail p {
    font-size: 12px;
}
 
#detail p {
    padding-top: 7%;
    width: 100%;
}

.detail_container-web,
.detail_container-performance,
.detail_container-cultural,
.detail_container-sub {
 width: 50%;
}
.detail_container-web,
.detail_container-cultural{
padding-right: 3%;
}

/* SECTION OPTIONS*/

#option .option_container h2{
    width: 28vw;
    font-size: 40px;
}
#option .option_container p{
    padding-bottom: 5%;
    width: 28vw;
}

#option .option_container a{
    font-size: 12px;
    padding-right: 3%;
}

#option .option_container_link .option_link_icon{
    width: 14px;
}


/* SECTION REASONS ONBOARD*/

#reason .reason_container .reason_container_list {
display: flex;
}

#reason h3 {
    font-size: 25px;
}

#reason h4, 
#reason p {
    font-size: 12px;
}
 
#reason p {
    padding-top: 10%;
    width: 100%;
}

.reason_container-web,
.reason_container-team,
.reason_container-support {
 padding: 0 0;
 padding-top: 5%;
 width: 35%;
}

/* SECTION BUSINESS*/

#business .business_container {
    width: 80vw;
    margin: 0 auto;
    display: flex;
}
#business .business_container h3 {
    font-size: 25px;
    padding-top: 7%;
}

#business .business_container p {
    font-size: 12px;
    width: 80%;
}

#business .business_container .business_container_post2 {
    padding-top: 0;
}

#business .business_container  .business_container_proposal-legacy,
#business .business_container  .business_container_proposal-popular,
#business .business_container  .business_container_proposal-buy
 {
    font-size: 10px;
}

#business .business_container_list .business_list_apple,
#business .business_container_list .business_list_microsoft {
    width: 25px;
    height: auto;
}
#business .business_container_list .business_list_microsoft{
    margin-left: 10%;
}

}



/* SECTION LAPTOPS */


@media screen 
  and (min-width: 1200px) 
  and (max-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

/*HEADER */

header {
    height: 100vh;
}

.header_container-agency {
    padding-left: 0.5%;
    padding-top: 0.5%;
}

.header_container-agency img {
    height: 20px;
}

.header_container-agency h1 {
    font-size: 16px;
    padding-left: 0.5%;
}

.header_container-title {
    height: 50vh;
    width: 60vw;
}

.header_container-title_test {
    width: 28vw;
}

.header_container-title .header_container-title_test h2{
    padding-bottom: 2%;
}
.header_container-title .header_container-title_test p{
    font-size: 12px;
}


/*INTRO */

#introduction {
    width: 60vw;
    margin: 0 auto;
    margin-top: 0%;
    margin-bottom: 8%;
}

#introduction h3{
    font-size: 25px;
}

#introduction p{
    padding-top: 5%;
    width: 30vw;
}

#introduction .introduction_image {
    display: inline-block;
    position: relative;
    height: 10vh;
    width: 100%;
}
#introduction .introduction_image img{
    width: 35vw;
    height: auto;
    position: absolute;
    right: -100px;
    bottom: -100px;
}

#introduction .introduction_container_paragraph {

    display: flex;
    justify-content: space-between;
    }
    
    #introduction h3{
        font-size: 25px;
        width: 80%;
    }
    
    #introduction p{
        font-size: 14px;
        width: 48%;
    }

    /*SERVICE */


#service {
    width: 62vw;
}

#service a {
    padding-right: 3%;
}

#service p {
    font-size: 12px;
    padding-bottom: 10%;
}

#service .service_signup_paragraph {
    padding-bottom: 2%;
}

#service h3 {
    font-size: 20px;
    padding-bottom: 2%;
}

#service .service_container-design,
#service .service_container-build,
#service .service_container-clients,
#service .service_container-signup,
#service .service_container-pictures {
    padding: 3% 3%;
}

#service .service_container-design {
    width: 33%;
}

#service .service_container-build {
    width: 33%;
}

#service .service_container-clients {
    width: 34%;
}

#service .service_container-signup {
    width: 66%;
}

#service .service_container-pictures {
    width: 34%;
}
#service .service_container-pictures p {
    width: 90%;
}
#service {
    display: flex;
    flex-wrap: wrap;
    height: 55vh;
}

/* SECTION DETAILS*/

#detail {
    width: 60vw;
    margin-top: 5%;
    margin-bottom: 8%;
}

#detail h3 {
    font-size: 25px;
    padding-bottom: 5%;
}

#detail h4{
    padding-bottom: 10%;
}
 
#detail p {
    padding-top: 0;
    width: 90%;
}

.detail_container{
 display: flex;
}
.detail_container-web,
.detail_container-performance,
.detail_container-cultural,
.detail_container-sub {
 padding: 0 0;
}


/* SECTION OPTIONS*/

#option {
    height: 100vh;
}

#option .option_container {
    width: 60vw;
    padding-top: 24%;
    padding-bottom: 0;
}

#option .option_container h2{
    width: 46%;
    padding-bottom: 2%;
}

#option .option_container p{
    font-size: 12px;
    padding-bottom: 3%;
    width: 40%;
}

#option .option_container a{
    font-size: 12px;
    padding-right: 3%;
}

#option .option_container_link{
    display: flex;
    align-items: center;
}

#option .option_container_link .option_link_icon{
    width: 12px;
    fill: #fff;
}


/* SECTION REASONS ONBOARD*/

#reason {
    padding-top: 5%;
    padding-bottom: 10%;
}

#reason .reason_container .reason_container_list {
    display: flex;
}

#reason .reason_container {
    width: 60vw;
}

#reason h3 {
    font-size: 25px;
    padding-bottom: 5%;
}

#reason p {
    padding-top: 10%;
    width: 90%;
}

.reason_container-web,
.reason_container-team,
.reason_container-support {
    padding: 0 0;
}

/* SECTION BUSINESS*/

#business {
    padding-top: 5%;
    padding-bottom: 10%;
}

#business .business_container {
    width: 60vw;
    display: flex;
}
#business .business_container h3 {
    font-size: 22px;
    padding-top: 7%;
}

#business .business_container p {
    font-size: 12px;
    width: 90%;
}

#business .business_container .business_container_post2 {
    padding-top: 0;
    transition: 0.5s;
    padding: 2% 5%;
}

#business .business_container .business_container_post2:hover {
    background-color: #fff;
    cursor: pointer;
    border-radius: 3%;
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
}

#business .business_container .business_container_post1 {
    padding-top: 0;
    transition: 0.5s;
    padding: 2% 5%;
}

#business .business_container .business_container_post1:hover {
    background-color: #fff;
    cursor: pointer;
    border-radius: 3%;
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
}

#business .business_container  .business_container_proposal-legacy,
#business .business_container  .business_container_proposal-popular,
#business .business_container  .business_container_proposal-buy
 {
    font-size: 10px;
}

#business .business_container_list .business_list_apple,
#business .business_container_list .business_list_microsoft {
    width: 25px;
    height: auto;
}
#business .business_container_list .business_list_microsoft{
    margin-left: 5%;
}

/* SECTION FOOTER*/

footer {
    padding-top: 8%;
    padding-bottom: 15%;
}

footer .footer_container {
    width: 60vw;
}
.footer_container-getstay {
    display: flex;
}

footer .footer_container_get {
   width: 50%;
}

footer .footer_container_stay{
    padding-top: 0;
    width: 50%;
}

footer .footer_container_formulaire{
    width: 100%;
}

footer .footer_container_formulaire form input{
    width: 90%;
    padding: 2% 0;
}

footer .footer_container_stay p{
    font-size: 12px;
}

footer .footer_container .footer_container_links {
    width: 50%;
}

footer .footer_container .footer_container_links ul {
   padding-top: 5%;
}
}